body {
  text-align: center;
  margin: 0;
  font-family: "Merriweather", serif;
}
/* top-container */
h1 {
  margin: 50px auto 50px auto;
  font-family: "Sacramento", cursive;
  color: #66bfbf;
  font-size: 5.625rem;
  line-height: 2;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
  font-size: 2.5rem;
  font-weight: normal;
  margin-bottom: 70px;
}

h3 {
  color: #11999e;
}

a {
  color: #11999e;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  margin: 20px 20px;
  transition: 0.4s ease-in-out;
}

a:hover {
  color: white;
}

p {
  color: black;
  line-height: 2;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

.top-container {
  background-color: #e0ebe8;
  width: 100%;
  margin-top: 30;
  padding-top: 100px;
  position: relative;
}

.bottom-container {
  text-align: center;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
/* my personal data */
.middle-container {
  text-align: center;
  margin: 100px 0;
}

.profile-img {
  border-radius: 50%;
}

.intro {
  width: 30%;
  margin: auto;
  margin-bottom: 50px;
}

/* skill */

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.skill-img1 {
  border-radius: 50%;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-img2 {
  border-radius: 50%;
  width: 25%;
  float: right;
  margin-left: 30px;
}

/* contact me */

.contact-me {
  text-align: center;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  width: 50px;
  height: 50px;
  background-color: #11999e;
  color: #fff;
  padding: 20px 20px;
  border-radius: 5px;
  transform: scale(0.98);
}

.btn:hover {
  background-color: #30e3cb;
}

/* bottom-container */

.bottom-container {
  background-color: #6bbfbf;
  padding: 50px 0 20px;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0px;
}
